.header {
  width: 1328px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  padding: 0 0 24px 0;
  margin: 24px 56px 40px 56px;

  border-bottom: 1px solid #d7dde9;

  img {
    width: 150px;
    height: 36px;

    object-fit: contain;
  }

  h1 {
    font-size: 24px;
    font-weight: 500;

    margin-left: 56px;
  }

  span {
    opacity: 54%;
  }
}


@media (max-width: 900px) {
  .header {
    width: 272px;
    height: 114px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    border-bottom: 1px solid #d7dde9;
   
    margin: 24px;
    
    h1 {
      font-size: 16px;
      margin: 0;
    }
  }
}